

div.backgroundid{
	background-image: url(../images/passport1.jpg);    
    background-repeat:repeat;

}

footer {
	background-color: black;
}

.tak{
	 margin-left: 250px;

}
#navbar {
	margin:20px 20px 75px 20px;
}

#juegoseleccionado{
	font-family: "Courier", Times,fantasy;
	font-weight: bold;
	font-size: 22px;
	margin:20px 20px 20px 20px;
	color: #FFFFFF;
	cursor:default;
}
.button {

	font-family: "Courier", Times,fantasy;
	font-weight: bold;
	margin:20px 20px 20px 20px;
	border-style: solid;
    border-width: 5px;
    font-size: 18px;
    border-color: #000000;
    padding: 20px;
    border-radius: 15px;
}
.btn{
	font-weight:bold;
}
.button:hover{
	font-size: 22px;
}
#startbutton {
	color: #FFFFFF;
	background-color:#C91010;
}
#reiniciarbutton {
	color: #FFFFFF;
	background-color:#119C1C;
}
#aboutbutton {
	color: #FFFFFF;
	background-color:#1DB3D2;
}
#reglasbutton {
	color: #FFFFFF;
	background-color:#EE8012;
}


#map { height: 400px; width:700px;margin:20px 20px 20px 120px;}

#confposicion {
	margin-left: 500px;
    margin-right: auto;

}

#fotos > img{
 background-color: green;
 display: inline-block;
 }
 
 #myCarousel {
text-align: center; 
top:120px;
 }
 
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }


.information{
	padding: 2ex;
	position: absolute;
	border: 2px double grey;
	background: wheat;
	height:550;
	width: 150;
	top:150;
	text-align: center;
	font-size: 18px;
	border-radius: 15px;
	border-width: 5px;
}

#closeLink {
	font-size: 25px;
	color: #A52A2A;
	cursor:pointer;

}


#closeLink:hover{
	text-decoration: underline;
}
