
#navbar {
	margin:20px 20px 75px 20px;
}

#map { height: 400px; width:700px;margin:20px 20px 20px 120px;}

#confposicion {
	margin-left: 500px;
    margin-right: auto;

}

#fotos > img{
 background-color: green;
 display: inline-block;
 }
 
 #myCarousel {
text-align: center; 
 }
 
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
